{% extends 'teacher/base.html' %}
{% load customer_fileters %}
{% load customer_tags %}
{% load static %}
    <link rel="stylesheet" href="{% static 'teacher/css/index.css' %}">
{% block content %}
<body>
         <p>我是第{{ num }}次访问</p>
{#    <p>通过视图函数传过来的模板变量:{{ now }}</p>#}
{#    <p>通过自定义模板标签导入进来的:{% current %}</p>#}
{##}
{#    <table border="1"  style="width: auto;height: auto;align-content: center">#}
{#        <thead><tr><th>序号</th><th>姓名</th><th>年龄</th><th>性别</th><th>课程</th></tr></thead>#}
{#        <tbody>#}
{#            {% for stu in sts %}#}
{#                <tr {% if stu.sex == 'man' %} style="color: #42ad46"{% endif %}>#}
{#                    <td><a href="{% url 'teacher:details' stu.name%}">{{ forloop.counter }}</a></td>#}
{#                    <td>{{ stu.name }}</td>#}
{#                    <td>{{ stu.age }}</td>#}
{#                    <td>{{ stu.sex|to_sex }}</td>#}
{#                    <td>{% show_list stu.course style='link' %}</td>#}
{##}
{#                    <td>{% for list in stu.course %}{{ list }}{% endfor %}</td>#}
                    {# <td>{{ stu.course }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <p>《霏霏》<br></p>#}
{#    <p>云湿丝柳忆廉颇，<br>笑电霜滑自有天。<br>半雨江上怜锦碎，<br>梁尘落屑正乏贤。</p>#}
{#    <p>格式化当前时间：{{ now|date:'Y年m月d日 H:i:s' }}</p>#}
{#    <p>当前时间：{{ now }}</p>#}
{#    <p>列表：{{ L }}</p>#}
{#    <p>列表的第一个值：{{ L|first }}</p>#}
{#    <p>列表的第一个值add{{ num }}：{{ L.0|add:num }}</p>#}
{#    <p>字典：{{ D }}</p>#}
{#    <p>字典error：{{ D.0|default:'菲菲计算错误'}}</p>#}
{#    <p>函数返回值：{{ func }}</p>#}
{#    <div style="position: fixed;width: auto;height: auto;right: 0;bottom:0;">#}

{#        {% include 'ad.html' %}#}
{#    </div>#}
{% endblock %}