{#<ul>#}
{#    {% for c in ls %}#}
{#        <li>{{ c }}</li>#}
{#    {% endfor %}#}
{##}
{#</ul>#}



{% if style == 'button' %}
    <div class="list-group">
        {% for l in ls %}
        <button type="button" class="list-group-item">{{ l }}</button>
        {% endfor %}
    </div>
{% elif style == 'link' %}
    <div class="list-group">
        {% for l in ls %}
        <a href="#" class="list-group-item">{{ l }}</a>
        {% endfor %}
    </div>
{% else %}
    <ul class="list-group">
        {% for l in ls %}
        <li class="list-group-item"><span class="badge">14</span>{{ l }}</li>
        {% endfor %}
    </ul>
{% endif %}



